@import './typography';
@import './variables';

body, html {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0px;

    #app {
        height: inherit;
        width: inherit;

        & > main {
            height: inherit;
            background: $darkblue;
        }

    }

}

@media screen and (max-width: 599px) {

    body, html {
        height: auto;
    }
}